*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #415a77;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border: 5px solid black;
    padding: 2rem 3rem;
    border-radius: 20px;
    background-color: #0077b6;
}
.header{
    background-color: #c9ada7;
    padding: 1rem;
    border-radius: 1rem;
}
.main{
    display: flex;
    justify-content: space-between;
    width: 30rem;
    background-color: #ecf39e;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.box{
    background-color: #4a4e69;
    padding: 1rem;
    color: azure;
    /* font-size: 2rem; */
    border-radius: 1rem;
    text-align: center;
}
span{
    font-size: xx-large;
}
.footer{
    text-align: left;
    width: 30rem;
}
.progress-container{
    width: 30rem;
    height: 15px;
    background-color: rgb(233, 220, 204);
    margin-top: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}
#progress-bar{
    width: 0%;
    background-color: green;
    transition: width 1s ease-in-out;
    height: 100%;
    border-radius: 2rem;
}